<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/Es.png">
    <link rel="stylesheet" href="/css/home.css"> <!-- this is automatically searched in assets, hence no need of going to assets-->
</head> 
<body>
    <!--Main Section of the List, divided in 2 sub-sections-->
    <div id="main-list">
        <!--1st sub section-->
        <div id="form-section">
            <h1 id="heading"><i class="fas fa-virus-slash"></i> ENDGAME CORONA</h1>
            <h3>Contact History Tracker For Controlling COVID-19</h3>
            
            <form action="/addlist" method="POST" id="tracker">
                <div class="flex-row flex-main-center size-match-parent"> <!--Row 1 of Form-->
                    <input type="text" name="des" placeholder="Enter the description of incident/ name of person(s)/ identifiers" class="big-input" required>
                </div>
                <div class="flex-row flex-space-between size-match-parent"> <!--Row 2 of Form-->
                
                    <select id="prox" name="proximity" form="tracker" class="small-input" required>
                        <option value="nil">=========PROXIMITY=========</option>
                        <option value="Under 2.5m">Under 2.5m</option>
                        <option value="Between 2.5m and 5m">Between 2.5m and 5m</option>
                        <option value="Betwen 5m and 7.5m">Betwen 5m and 7.5m</option>
                        <option value="More than 7.5m">More than 7.5m</option>
                    </select>
                
                    <input type="date" name="date" placeholder="Enter the date" class="small-input" required >
                </div>
                <div class="flex-row flex-main-center size-match-parent" required> <!--Row 3 of Form-->
                    <input type="text" name="location" placeholder="Enter the location" class="big-input" required>
                </div>
                <div id="button-row">
                    <div id="addition" class="switch" form="tracker"><i class="fas fa-plus color-white"></i>   ADD</div>
                    <div><a id="deletion" href=""><div class="switcher"><i class="fas fa-times color-white"></i>   DELETE</div></a></div>
                </div>
            </form>
        </div>
    <!--Second Sub-section-->
        <div id="list-section" class="flex-cross-center">
            <!--Loop to pick data from database and display entries-->
                <% for (let i of detail_list) { %>
            
                    <div class="list-card flex-column flex-space-evenly">
                        <div class="flex-row flex-space-between">
                            <div><input type="checkbox" name="selection" data-value="<%=i._id %>" class="checkboxes"></div>
                            <div class="description-class"><%= i.des %></div>
                            <% if (i.proximity == "Under 2.5m") { %>
                                <div class="prox-class-red"><%= i.proximity %></div>
                            <% } else if (i.proximity == "Between 2.5m and 5m") { %>
                                <div class="prox-class-crimsom"><%= i.proximity %></div>
                            <% } else if (i.proximity == "Betwen 5m and 7.5m") { %>
                                <div class="prox-class-purple"><%= i.proximity %></div>
                            <% } else { %>
                                <div class="prox-class-yellow"><%= i.proximity %></div>
                            <% } %>
                        </div>
                        <div class="flex-row flex-space-between marginer">
                            <div><i class="fas fa-calendar-alt date-icon"></i> <%= i.date %></div>
                            <div><i class="fas fa-map-marker-alt font-icon"></i> <%= i.location %></div>   
                        </div>
                    </div>
                <% } %>
        
        </div>
    </div>
    <!--All of the required scripts in front-end-->
    <script type="text/javascript" src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/def22ec775.js" crossorigin="anonymous"></script>
</body>
</html>